.header {
  background-color: #333;
  color: white;
  padding: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  align-items: center;
  justify-content: center;

  .content {
    max-width: 800px;
    flex: 1;
    margin: 0 20px;
  }

  .ads {
    width: 300px;

    .ad {
      background-color: #f0f0f0;
      border: 1px solid #ddd;
      margin-bottom: 20px;
      padding: 10px;
    }
  }
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}
